@media screen and (max-width: 430px){
  .main-box {
    .content {
      .card:nth-child(2n) {
        margin-right: 0;
      }
      .card {
        width: 40%;
        .show-wrapper {
          .pic-wrapper {
            height: 14vh;
          }
          .title {
            font-size: 1em;
          }
        }
      }
    }
  }
}
