@media screen and (max-width: 430px){
  .footer-main {
    flex-direction: column;
    padding: 3vh;
    .left {
      width: 100%;
    }
    .center {
      width: 100%;
    }
    .right {
      display: none;
    }
  }
}
